{% extends "prelogin-layout.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid">
        <p class="navbar-welcome">Welcome <span style="color:#FE7676">user</span></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('pre_quiz')}}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout')}}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col">


            <form action="/pre_quiz" method="POST" enctype="multipart/form-data" class="pre-quiz-form">


                <label for="topic">Select a topic for quiz :</label><br>
                <select id="topic" name="topic" form="topic" class="form-control pre-quiz-input">
                    {% for i in topics %}
                    <option name="{{ i }}" value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <br>
                <label for="questionNumber">Number of Questions:</label><br>
                <input type="text" id="questionNumber" name="questionNumber" class="form-control pre-quiz-input"><br>

                <button type="submit" class="register-btn">Start Quiz</button>
            </form>

        </div>

    </div>

</div>






{% endblock %}